<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294084038891-so26d39thnhv075642r4tcj6rjd3jbad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294084038891-so26d39thnhv075642r4tcj6rjd3jbad</string>
	<key>API_KEY</key>
	<string>AIzaSyBmOwlyaamc6XyHBI9neej6o9_8hbm40cY</string>
	<key>GCM_SENDER_ID</key>
	<string>294084038891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicAndArt</string>
	<key>PROJECT_ID</key>
	<string>music-and-art-admin-pane-5564c</string>
	<key>STORAGE_BUCKET</key>
	<string>music-and-art-admin-pane-5564c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294084038891:ios:50bb7f3101b3e9894b2eae</string>
</dict>
</plist>